{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Classy Audio Player Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="{% static 'mplayer/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="{% static 'mplayer/js/jquery-1.11.1.min.js' %}"></script>
    <!-- //js -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>HarMony</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'home/img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="{% static 'mplayer/css/jplayer.blue.monday.min.css' %}"  type="text/css" />
    
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function(){
        
            new jPlayerPlaylist({
                jPlayer: "#jquery_jplayer_2",
                cssSelectorAncestor: "#jp_container_2"
            }, 
            
            [
                {% for song in songs %}
                {
                    title:"{{song.songname}}",
                    mp3:"{{ song.document.url }}",
                    id:"{{song.songid}}"
                },
                {% endfor %}
            ], {
                swfPath: "../../dist/jplayer",
                supplied: "oga, mp3",
                wmode: "window",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true
            });
        });
        //]]>
        </script>
        
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function follow(artist_id , btnid)
        {
            axios.get('/music/artist/artistprofile/follow/'+ artist_id)
            .then(res=>{
                console.log(res)
                if (res.data === 'DONE')
                {
                    document.getElementById(btnid).innerHTML = 'Unfollow'
                    document.getElementById(btnid).className= 'btn btn-success'
                    document.getElementById(btnid).onclick = ()=>unfollow(artist_id,btnid)
                    document.getElementById('artist-f').innerHTML = Number(document.getElementById('artist-f').innerHTML)+1
                }
            })
        }
        function unfollow(artist_id, btnid)
        {
            axios.get('/music/artist/artistprofile/unfollow/'+ artist_id)
            .then(res=>{
                console.log(res)
                if (res.data === 'UNFOLLOWED')
                {
                    document.getElementById(btnid).innerHTML = 'Follow'
                    document.getElementById(btnid).className= 'btn btn-dark'
                    document.getElementById(btnid).onclick = ()=>follow(artist_id,btnid)
                    document.getElementById('artist-f').innerHTML = Number(document.getElementById('artist-f').innerHTML)-1
                }
            })
        }
    </script>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand" style="color:beige">HARMONY</a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    {% if muser.isadmin == 2 %}
                                    <li><a href="/music/home">Home</a></li>
                                    <li><a href="/music/home/adsong">Upload Song</a></li>
                                      <li><a href="/music/home/tourpage">Upload Tour</a></li>
                                      <li><a href="/music/home/myprofile">My Profile</a></li>
                                  {% endif %}
                                  {% if muser.isadmin == 0 %}
                                    <li><a href="/music/home">Home</a></li>
                                    <li><a href="/music/home/applypage">Apply for artist</a></li>   
                                    {% endif %}
                                    <li><a href="/music/home/myplaylist/">My Playlist</a></li>
                                    <li><a href="/music/artist">Artists</a></li>
                                    <li><a href="/music/tourdetail">Events</a></li>
                                    <li><a href="/music/logout">Logout</a></li>
                                </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url('{% static "home/img/bg-img/breadcumb3.jpg" %}');">
        <div class="bradcumbContent">
            <p></p>
            <h2>{{artist.artistname}}</h2>
        </div>
    </section>
    <br/>
    <br/>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
        <div class="container-fluid">
            <div class="row"> -->
                <div class="col-12">
                    <div class="section-heading style-2">
                    <img src="/media/{{artist.image}}" class="card-img-top img-thumbnail mt-2 mx-auto" alt="Responsive image" style="height: 12rem; width:12rem; border-radius: 50%;">    
                    <h6 style="color:black;"><b>{{artist.songcount}} Songs</b></h6>
                    
                    <h6 style="color:black;" ><b><div id="artist-f">{{followercount}}</div> Followers</b></h6>
                
                    {% if isfollow %}
                    <button class="btn btn-success" id="fl-{{artist.artistid}}" onclick="unfollow('{{artist.artistid}}','fl-{{artist.artistid}}')">UnFollow</button>
                    
                    {% else %}
                    <button class="btn btn-dark" id="fl-{{artist.artistid}}" onclick="follow('{{artist.artistid}}','fl-{{artist.artistid}}')">Follow</button>
                    {% endif %}
                </div>
                </div>
            <!-- </div>
        </div>
    </section> -->

<div class="audio-main">
    <center><a href="/music/home/artist/artistprofile/shuffle/{{artist.artistid}}"><img src="https://img.icons8.com/metro/26/000000/shuffle.png"></a></center>
	<div class="audio-record-list w3layouts_audio">
		<div class="w3_figure w3ls_fig">
			<img src="{% static 'mplayer/images/5.jpg' %}" alt=" " class="img-responsive" />
		</div>
		<div id="jquery_jplayer_2" class="jp-jplayer w3l_play"></div>
		<div id="jp_container_2" class="jp-audio agileits_audio" role="application" aria-label="media player">
			<div class="jp-type-playlist agileinfo_playlist">
				<div class="jp-gui jp-interface wthree_jp">
					<div class="jp-controls w3_agileits_controls">
						<button class="jp-previous" role="button" tabindex="0">previous</button>
						<button class="jp-play" role="button" tabindex="0">play</button>
						<button class="jp-next" role="button" tabindex="0">next</button>
						<button class="jp-stop" role="button" tabindex="0">stop</button>
                    </div>
					<div class="jp-progress agileits_w3layouts_progress">
						<div class="jp-seek-bar">
							<div class="jp-play-bar"></div>
						</div>
					</div>
					<div class="jp-volume-controls agile_volume">
						<button class="jp-mute" role="button" tabindex="0">mute</button>
						<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
						<div class="jp-volume-bar">
							<div class="jp-volume-bar-value"></div>
						</div>
					</div>
					<div class="jp-time-holder w3_agile_holder">
						<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
						<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
					</div>
                </div>
				<div class="jp-playlist w3layouts_either">
					<ul>
						<li>&nbsp;</li>
					</ul>
				</div>
				<div class="jp-no-solution w3_no">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
				</div>
			</div>
		</div>	
			<!-- <div class="social-icons w3agile">
						<ul>
							
							<li><a href="#" class="facebook"><img src="{% static 'mplayer/images/fb.png' %}" title="facebook" alt="facebook"></a></li>
							<li><a href="#" class="twitter"><img src="{% static 'mplayer/images/tw.png' %}" title="twitter" alt="twitter"></a></li>
							<li><a href="#" class="googleplus"><img src="{% static 'mplayer/images/gp.png' %}" title="googleplus" alt="googleplus"></a></li>
							<div class="clear"></div>
						</ul>	
					</div>		 -->
	</div>

</div>
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <a href="#" style="color:beige">HARMONY</a>
                <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This is made <i class="fa fa-mic-o" aria-hidden="true"></i> by <a href="#" target="_blank">Harmony</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>

</footer>
    <!-- ##### Footer Area Start ##### -->
    <script type="text/javascript" src="{% static 'mplayer/js/jquery.jplayer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mplayer/js/jplayer.playlist.min.js' %}"></script>
    
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'home/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'home/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'home/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'home/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'home/js/active.js' %}"></script>
</body>

</html>