{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Harmony</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet"> 
    <!-- Favicon -->
    <link rel="icon" href="https://img.icons8.com/ios-glyphs/30/000000/microphone.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="#" class="nav-brand" style="color:beige; font-family:serif;">HARMONY</a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    {% if muser.isadmin == 0 %}
                                    <li><a href="/music/home/applypage">Apply for artist</a></li>   

                                    {% endif %}
                                    {% if muser.isadmin == 2 %}
                                    <li><a href="/music/home/adsong">Upload Song</a></li>
                                    <li><a href="/music/home/tourpage">Upload Tour</a></li>
                                    <li><a href="/music/home/myprofile">My Profile</a></li>
                                    {% endif %}
                                    <li><a href="/music/home/myplaylist/">My Playlist</a></li>
                                    <li><a href="/music/artist">Artists</a></li>
                                    <li><a href="/music/tourdetail">Events</a></li>
                                    <li><a href="/music/logout">Logout</a></li>
                                </ul>

                               
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url('{% static "home/img/bg-img/bg-1.jpg" %}')";></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Tune</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">H A R M O N Y <span>H A R M O N Y</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#language" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style= " background-image: url('{% static "home/img/bg-img/bg-2.jpg" %}')";></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">TUNE</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">H A R M O N Y <span>H A R M O N Y </span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#events" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->
{% if muser.isadmin == 0 %}
    <!-- ##### Latest Albums Area Start ##### -->
    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p>Tune into new</p>
                        <h2>Become An Artist</h2>
                        <p style="font-family: 'Cinzel', serif;">
                            <br/>
                            <br/>
                        <ul type="dot" style="font-size:20px;">
                            <li >If you’re an amateur artist 
                                and want to be a part of our music community, 
                                we’ll show you how to get the most out of Harmony.
                                We provide you a platform where you can attract listeners
                                to your piece of music.
                            <b> Introduce yourself to listeners with your full profile
                                 and artist's pick. 
                                 Submit for playlisting, 
                                 release new music, 
                                 and find new followers</b> </li>
                           <li></li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Album Area -->
                <div class="col-auto col-sm-auto col-md-auto col-lg-auto">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="200ms">
                        
                        <div class="album-info">

                        </div>
                    </div>
                </div>
                        
                <!-- Single Album Area -->
                
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                        <a href="/music/home/applypage" class="btn oneMusic-btn">Apply <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- ##### Latest Albums Area End ##### -->

    <!-- ##### Buy Now Area Start ##### -->
    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100" id="language">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p>Tune into new</p>
                        <h2>Listen By Language</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Album Area -->
                {% for songtypes in songtype %}
                <div class="col-auto col-sm-auto col-md-auto col-lg-auto">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="200ms">
                        <div class="album-thumb">
                            <img src="/media/{{songtypes.image}}" alt="" style="height: 13rem; width:13rem;" >
                        </div>
                        <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                            <a href="/music/home/genre/{{songtypes.id}}" class="btn oneMusic-btn">{{songtypes.name}} <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Buy Now Area End ##### -->

 <!-- ##### Buy Now Area Start ##### -->
 <section class="latest-albums-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <p>See what’s new</p>
                    <h2>Listen by artists</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/art1.jpeg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/art5.jpeg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/art3.jpeg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/art8.jpeg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/art6.jpeg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/art2.jpeg' %}" alt="">
                        <div class="album-info">
                            
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/art7.jpeg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                    <a href="/music/artist" class="btn oneMusic-btn">Artists <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Latest Albums Area End ##### -->
<!-- ##### Buy Now Area End ##### -->

<section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100" id="events">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <p>See what’s new</p>
                    <h2>Live Concerts</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="ablums-text text-center mb-70">
                <p style="font-size:20px;color:black;">
                    With Concerts, find out when and where the artists you love are performing live.<br/>  
                    <b>Tip:</b> To help us pick more concerts suited to your tastes, keep playing and following the artists you love. <br/>
                </p>    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/tour2.jpg' %}" alt="" style="height: 15rem; width:20rem;">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/tour1.jpg' %}" alt="" style="height: 15rem; width:20rem;">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/tour3.jpg' %}" alt="" style="height: 15rem; width:20rem;">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/tour4.jpg' %}" alt="" style="height: 15rem; width:20rem;">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/tour5.jpeg' %}" alt="" style="height: 15rem; width:20rem;">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/tour6.jpeg' %}" alt="" style="height: 15rem; width:20rem;">
                        <div class="album-info">
                            
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/a7.jpg' %}" alt="" style="height: 15rem; width:20rem;">
                        <div class="album-info">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                    <a href="/music/tourdetail" class="btn oneMusic-btn">Events <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% if muser.isadmin == 2 %}
<section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <p>Tune into new</p>
                    <h2>Add Song /Add Tour</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/a1.jpg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/a2.jpg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/a3.jpg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/a4.jpg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/a5.jpg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/a6.jpg' %}" alt="">
                        <div class="album-info">
                            
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="{% static 'home/img/bg-img/a7.jpg' %}" alt="">
                        <div class="album-info">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                    <a href="/music/home/adsong" class="btn oneMusic-btn">Add Song <i class="fa fa-angle-double-right"></i></a>
                    <a href="/music/home/tourpage" class="btn oneMusic-btn">Add Tour <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url('{% static "home/img/bg-img/bg-4.jpg" %}')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-md-5 col-lg-4">
                <h3 style="color: white;">No.1 Artist</h3>
                <h4 style="color: white;">{{top.artistname}}</h4>
                <div class="featured-artist-thumb">
                    <img src="/media/{{top.image}}" alt="" style="height: 15rem;width: 15rem;">
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="featured-artist-content">
                    <!-- Section Heading -->
                    <div class="section-heading white text-left mb-30">
                        <p>Hit Tune</p>
                        <h2>No. 1 Hit</h2>
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>{{tops.songname}}</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="/media/{{tops.document}}">
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Featured Artist Area End ##### -->

<!-- ##### Miscellaneous Area Start ##### -->
<section class="miscellaneous-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- ***** New Hits Songs ***** -->
            <div class="col-12 col-lg-6">
                <div class="new-hits-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                        <p>See what’s new</p>
                        <h2>New Hits</h2>
                    </div>
{% for s in song %}
                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="/media/{{s.artist.image}}" alt="" style="height: 4rem; width:4rem;">
                            </div>
                            <div class="content-">
                                <h6>{{s.songname}}</h6>
                                <p>{{s.artist.artistname}}</p>
                            </div>
                        </div>
                        <audio class="playback" preload="none" controls>
                            <source src="/media/{{s.document}}">
                        </audio>
                    </div>

                 {% endfor %}   <!-- Single Top Item -->
                   
                </div>
            </div>

            <!-- ***** Popular Artists ***** -->
            <div class="col-12 col-lg-6">
                <div class="popular-artists-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                        <p>See what’s new</p>
                        <h2>Popular Artist</h2>
                    </div>

                    {% for art in artist %}
                    <!-- Single Artist -->
                    <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                        <div class="thumbnail">
                            <img src="/media/{{art.image}}" alt="" style="height: 4rem; width: 4rem;">
                        </div>
                        <div class="content-">
                            <p style="color:black;">{{art.artistname}}</p>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Single Artist -->
                   

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Miscellaneous Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#" style="color:beige">HARMONY</a>
                    <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This is made <i class="fa fa-mic-o" aria-hidden="true"></i> by <a href="#" target="_blank">Harmony</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <script>
        $(".playback").click(function(e) {

// pause all other tracks
$('.audio').each(function () {
  var song = this;
  if (!song.paused) { song.pause(); }
});

// play the audio associated with this element
this.play();

});
    </script>
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'home/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'home/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'home/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'home/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'home/js/active.js' %}"></script>
</body>

</html>